svg {
  max-width: 80vmin;
  
  &:hover .textcircle {
    transform: scale(1.2) rotate(90deg);
  }
}

.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

text {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  fill: white;
  animation: rotate 25s linear infinite;
  transform-origin: 250px 250px;
}


